# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
*.csv
creditcard.csv
creditcardfraud.zip

# Models (if too large)
# *.pkl

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Kaggle
kaggle.json
